@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #fcebd5;
    font-family: 'Roboto', 'Times New Roman', Times, serif;
    overflow-x: hidden;
}

p,
ul {
    margin-top: 0;
}

img {
    display: block;
    width: 100%;
}

.row {
    display: flex;
}

.col-50 {
    flex: 0 1 50%;
}

.col-47 {
    flex: 0 1 47%;
}

.choose-button {
    border-radius: 3px;
    padding: 10px;
    min-width: 130px;
    align-items: baseline;
    justify-content: space-between;
    cursor: pointer;
}

.choose-button img {
    width: 15px;
}

.msg-show {
    padding: 30px;
    border: 4px double #a16a5e;
    background-color: #fcebd5;
}

button:disabled,
button[disabled] {
    background-color: rgb(196, 194, 194) !important;
    color: #666666 !important;
    cursor: not-allowed !important;
}

.overlay {
    left: 0;
    top: 0;
    width: 100vw;
    background: #58474799;
    z-index: 15;
}

.rotate-arrow {
    transform: rotate(180deg);
}

.hide {
    display: none;
}

.p-relative {
    position: relative;
}

.p-absolute {
    position: absolute;
}

.p-fixed {
    position: fixed;
}

.text-center {
    text-align: center;
}

.mb-0 {
    margin-bottom: 0px;
}

.bg-light {
    background-color: #fcebd5;
}

.bg-normal {
    background-color: #edd5bb;
}

.bg-primary-default {
    background-color: #a16a5e;
}

.bg-primary-contrast {
    background-color: #d54c2e;
}

.bg-primary-blue {
    background-color: #1b59ac;
}

.bg-primary-green {
    background-color: #1bac6f;
}

.c-text-primary-default {
    color: #a26a5e;
}

.btn-grey {
    background-color: #e5e5e5;
    color: #5a5a5a !important;
}

.c-text-normal {
    color: #edd5bb;
}

.c-text-light {
    color: #fcebd5;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #a16a5e inset;
}

input:-webkit-autofill {
    -webkit-text-fill-color: #fcebd5;
}

/* ----------------------------navbar-styles------------------------- */
nav {
    height: 70px;
    font-family: 'Reenie Beanie';
    box-shadow: 0 2px 10px #af7777;
    font-size: 2rem;
}

.navbar-landing-page {
    height: 100%;
    justify-content: center;
    align-items: center;
}

.navbar-visitor-artist {
    height: 100%;
}

.navbar-visitor-artist .navbar-wrapper {
    width: 80%;
    height: 100%;
    margin-left: auto;
    margin-right: 5%;
    justify-content: space-between;
    align-items: center;
}

.navbar-visitor-artist .navbar-brand,
.navbar-visitor-artist .navbar-icon {
    cursor: pointer;
}

.navbar-visitor-artist .navbar-brand .logo {
    left: 5%;
    top: 5px;
    width: 80px;
    z-index: 14;
}

.navbar-visitor-artist .navbar-icon img {
    width: 60px;
    transition: 0.3s ease-in-out;
}

.navbar-visitor-artist .navbar-icon img:hover {
    transform: scale(1.1);
}

/* ----------------------------landing-page-styles------------------------- */
.landing-page {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 250px;
    perspective: 100px;
}

.landing-page .logo-img {
    width: 35%;
    margin: 100px auto;
}

.landing-page .polygon {
    height: 550px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 57%);
    cursor: pointer;
    transition: transform 0.2s;
}

.landing-page .polygon:hover {
    transform: translateZ(1px);
}

.landing-page .polygon-reverse {
    clip-path: polygon(0 0, 100% 43%, 100% 100%, 0 100%);
    margin-top: -237.5px;
}

.landing-page .polygon p {
    font-family: 'Reenie Beanie';
    font-size: 8rem;
}

.landing-page .polygon p.c-text-primary-default {
    padding-top: 80px;
}

.landing-page .polygon-reverse p {
    padding-top: 300px;
}

.landing-page .chooseArtistLanding {
    top: 630px;
    right: 19%;
}

.landing-page .chooseArtistLanding .choose-button {
    border: 2px solid #a16a5e;
    font-size: 2rem;
    width: 190px;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
}

.landing-page .chooseArtistLanding .choose-button img {
    width: 25px;
}

.landing-page .chooseArtistWrapper {
    width: 400px;
    border: 2px solid #a16a5e;
    border-radius: 5px;
    height: 250px;
    margin-top: 7px;
    overflow-y: scroll;
}

.landing-page .chooseArtistWrapper .chooseArtist {
    display: block;
    border-bottom: 1px solid #a16a5e;
    text-align: right;
    font-size: 1.8rem;
    padding: 2px 5px;
    cursor: pointer;
}

.landing-page .chooseArtist:hover,
.chooseArtist:focus {
    background-color: #a16a5e;
    color: #edd5bb;
}

/* ----------------------------visitor-home-styles------------------------- */
.visitor-home-page .img-wrapper {
    height: 200px;
}

.visitor-home-page .img-wrapper .bricks-big {
    height: 100%;
    opacity: 0.08;
    padding-top: 10px;
}

.visitor-home-page .img-wrapper .bricks-small {
    background-color: #f5e3cb;
    padding: 10px 0;
    object-fit: cover;
}

.visitor-home-page .content-wrapper {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.visitor-home-page .content-wrapper p {
    font-size: 4rem;
}

.visitor-home-page .content-wrapper button {
    font-size: 2rem;
    border: none;
    color: #fcebd5;
    padding: 10px 30px;
    border-radius: 4px;
    box-shadow: 3px 4px 8px #8a8484;
    cursor: pointer;
    transition: background-color 0.3s ease-in;
    z-index: 3;
}

.visitor-home-page .content-wrapper button:hover {
    background-color: #924b3a;
}

/*------photo slider-------*/
.visitor-home-page .slider-div {
    padding: 45px 0;
}

.visitor-home-page .slide-area {
    height: 320px;
    align-items: center;
    overflow: hidden;
}

.visitor-home-page .slide {
    padding: 25px;
    perspective: 140px;
}

.visitor-home-page .slide-left {
    animation: scroll 70s linear infinite;
}

.visitor-home-page .slide-right {
    animation: scroll 70s linear infinite;
    animation-direction: reverse;
}

.visitor-home-page .slide-track-one:hover,
.visitor-home-page .slide-track-two:hover {
    animation-play-state: paused;
}

.visitor-home-page .slide .img-slide {
    transition: transform 0.7s;
    box-shadow: 4px 5px 8px #8a8484;
    width: 450px;
    height: 270px;
}

.visitor-home-page .slide .img-slide:hover {
    transform: translateZ(10px);
    filter: brightness(1.1);
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-100px * 50));
    }
}

/* ------------carousel--------------- */
.visitor-home-page .carousel {
    margin-left: auto;
    margin-right: auto;
    padding: 60px 0;
    overflow: hidden;
}

.visitor-home-page .carousel .carousel-container {
    transform: translate(0);
}

.visitor-home-page .carousel .left-part,
.visitor-home-page .carousel .right-part {
    padding-top: 70px;
    padding-bottom: 70px;
    align-items: center;
}

.visitor-home-page .carousel .left-part {
    border-right: 3px solid #a16a5e;
    padding-right: 80px;
    justify-content: flex-end;
}

.visitor-home-page .carousel .content-box {
    width: 70%;
    font-size: 1.4rem;
    padding: 15px;
}

.visitor-home-page .carousel .left-part .content-box {
    background-color: #e09686;
    color: #f1dcd8;
}

.visitor-home-page .carousel .left-part .content-box .img-circle {
    left: 50%;
    top: -40px;
    transform: translateX(-50%);
    width: 80px;
    height: 80px;
    line-height: 74px;
    border-radius: 50%;
    border: 3px solid #a16a5e;
}

.visitor-home-page .carousel .left-part .content-box p {
    padding-top: 40px;
}

.visitor-home-page .carousel .right-part {
    padding-left: 80px;
}

.visitor-home-page .carousel .carousel-slide img {
    border-radius: 50%;
}

.visitor-home-page .carousel .carousel-buttons {
    justify-content: space-between;
    top: 50%;
    transform: translateY(-50%);
}

.visitor-home-page .carousel .carousel-buttons img {
    width: 50px;
}

.visitor-home-page .carousel .carousel-buttons img:hover {
    cursor: pointer;
}

.visitor-home-page .carousel .carousel-buttons .arrow-next {
    transform: rotate(180deg);
}

/* ----------------------------visitor-styles------------------------- */
/* ------------------------artist-items-listing-styles---------------- */
/* ----------------------------auction--styles------------------------ */

.visitor-listing-page {
    margin-top: 3px;
    padding-top: 70px;
    padding-bottom: 20px;
}

.visitor-listing-page .filter-icon,
.visitor-listing-page .show-all {
    width: 130px;
    right: 40px;
    cursor: pointer;
    box-shadow: 0 2px 7px #8a8484;
    border-radius: 5px;
    transition: 0.3s ease-in;
}

.visitor-listing-page .filter-icon {
    bottom: 40px;
}

.visitor-listing-page .show-all {
    background-color: #d44c2e;
    color: #fcebd5;
    border-color: transparent;
    bottom: 200px;
    padding: 15px 0;
}

.visitor-listing-page .filter-icon:hover,
.visitor-listing-page .show-all:hover {
    filter: brightness(1.2);
}

.visitor-listing-page .visitor-listing-page-inner,
.artist-items-page .artist-items-listing,
.auction-page .auction-items-listing {
    width: 85%;
    margin-right: auto;
    margin-left: auto;
    justify-content: space-between;
    flex-wrap: wrap;
}

.visitor-listing-page .visitor-listing-page-inner .col-47,
.artist-items-page .artist-items-listing .col-47,
.auction-items-listing {
    box-shadow: 3px 3px 8px #8a8484;
    margin-bottom: 50px;
}

.visitor-listing-page .visitor-listing-page-inner .text-box,
.artist-items-page .artist-items-listing .text-box {
    padding: 10px 20px;
}

.visitor-listing-page .visitor-listing-page-inner .text-box .row,
.artist-items-page .artist-items-listing .text-box .row {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.visitor-listing-page .visitor-listing-page-inner .col-47 .img-item {
    height: 250px;
}

.visitor-listing-page .visitor-listing-page-inner .text-box .row span {
    font-family: 'Reenie Beanie';
    font-size: 4rem;
}

.visitor-listing-page .visitor-listing-page-inner .text-box .row button,
.artist-items-page .artist-items-listing .text-box .row button {
    border: none;
    padding: 4px 6px;
    border-radius: 3px;
    box-shadow: 0 2px 7px #8a8484;
    font-size: 1.5rem;
}

.visitor-listing-page .visitor-listing-page-inner .text-box p:first-of-type,
.artist-items-page .artist-items-listing .text-box .row p {
    font-size: 1.3rem;
}

.artist-items-page {
    margin-top: 4px;
    padding: 40px 0;
}

.artist-items-page .img-scroll {
    width: 25px;
    padding: 10px 4px;
}

.artist-items-page .btn-scroll {
    border: none;
    cursor: pointer;
    position: fixed;
    border-radius: 3px;
    background-color: #e0c19f;
    right: 55px;
    bottom: 80px;
}

.artist-items-page .add-items {
    cursor: pointer;
}

.artist-items-page .add-items,
.auction-page .auction-items,
.visitor-listing-page .no-filtered-items {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.artist-items-page .add-items .add-items-inner,
.auction-page .auction-items .auction-items-inner,
.visitor-listing-page .no-filtered-items-inner {
    border: 3px dashed #a16a5e;
    padding: 50px;
}

.artist-items-page .artist-items-listing {
    padding-top: 50px;
}

.artist-items-page .artist-items-listing .col-47 .img-item {
    height: 250px;
}

.artist-items-page .artist-items-listing .text-box p:nth-child(2),
.auction-page .auction-items-listing .date {
    color: #e09686;
}

.artist-items-page .artist-items-listing .col-47 .buttons-wrapper {
    justify-content: space-between;
    padding: 15px 20px;
}

.artist-items-page .artist-items-listing .col-47 .buttons-wrapper button,
.artist-items-page .add-edit-part .buttons-wrapper button,
.artist-items-page .remove-confirmation button,
.artist-items-page .auction-msg button,
.visitor-listing-page .back-items {
    padding: 8px 20px;
    border-color: transparent;
    border-radius: 4px;
    font-weight: bold;
    box-shadow: 3px 4px 8px #575151;
    cursor: pointer;
    transition: 0.3s ease-in;
}

.artist-items-page .artist-items-listing .col-47 .buttons-wrapper button:hover {
    transform: scale(1.05);
}

.artist-items-page
    .artist-items-listing
    .col-47
    .buttons-wrapper
    button:not(:last-child) {
    color: #ffffff;
}

.artist-items-page .remove-confirmation,
.auction-msg {
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 6px;
    z-index: 16;
}

.artist-items-page .remove-confirmation p,
.artist-items-page .auction-msg p {
    margin-bottom: 30px;
}

.artist-items-page .remove-confirmation button,
.artist-items-page .auction-msg button,
.visitor-listing-page .back-items {
    color: #a16a5e;
    background-color: #edd5bb;
    margin: 0 10px;
}

.artist-items-page .remove-confirmation button:hover,
.artist-items-page .auction-msg button:hover,
.visitor-listing-page .back-items:hover {
    color: #edd5bb;
    background-color: #a16a5e;
}

/* if not enough content in the page to be 100vh */
.artist-items-page,
.visitor-listing-page,
.auction-page {
    min-height: calc(100vh - 74px);
}

.auction-page {
    margin-top: 3px;
    padding-top: 40px;
    padding-bottom: 20px;
}

.auction-page .auction-items-listing {
    padding: 20px;
}

.auction-page .timer {
    width: 15%;
    padding-bottom: 50px;
    margin-right: auto;
    margin-left: auto;
    justify-content: space-between;
}

.auction-page .timer p {
    background-color: #a16a5e;
    color: #fcebd5;
    padding: 15px 12px;
    border-radius: 4px;
    font-size: 2rem;
    margin-bottom: 0;
}

.auction-page .auction-items-listing .img-wrapper img {
    height: 100%;
}

.auction-page .auction-items-listing .row.artist-created p:last-child {
    font-size: 1.5rem;
}

.auction-page .auction-items-listing .title {
    font-family: 'Reenie Beanie';
    font-size: 3rem;
    margin-bottom: 10px;
}

.auction-page .timer span {
    color: #a16a5e;
}

.auction-page .auction-items-listing .img-wrapper {
    height: 250px;
}

.auction-page .auction-items-listing .row.artist-created {
    justify-content: space-between;
    margin-bottom: 10px;
    align-items: baseline;
}

.auction-page .auction-items-listing p.artist {
    font-size: 1.8rem;
}

.auction-page .auction-items-listing .row.price {
    align-items: center;
    justify-content: flex-end;
}

.auction-page .auction-items-listing .price {
    font-size: 2.3rem;
}

.auction-page .auction-items-listing .starting-price {
    background-color: #d44c2e;
    border-color: transparent;
    padding: 10px 20px;
    font-size: 3rem;
    margin-left: 20px;
    border-radius: 3px;
}

.auction-page .auction-items-listing input {
    background-color: #fcebd5;
    border: 2px solid #ff9900;
    color: #ff9900;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    width: 60%;
    margin-top: 30px;
    border-radius: 4px;
    font-size: 1.5rem;
}

.auction-page .auction-items-listing input::placeholder {
    color: #ff9900;
}

.auction-page .auction-items-listing input:focus {
    outline: none;
    border: 3px solid #ff9900;
}

.auction-page .auction-items-listing .bid {
    background-color: #ff9900;
    border-color: transparent;
    display: block;
    width: 100%;
    font-size: 3rem;
    margin-top: 30px;
    border-radius: 10px;
    color: #f3e8dc;
    cursor: pointer;
}

.auction-page .auction-items-listing .bid:hover {
    background-color: rgb(255, 123, 0);
}

.auction-page .bid-list p {
    width: 60%;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
    border-radius: 10px;
    justify-content: center;
}

.auction-page .bid-list .bid-visitor {
    background-color: rgba(255, 153, 0, 0.7);
}

.auction-page .bid-list .bid-api {
    background-color: rgba(212, 76, 46, 0.7);
    margin-left: auto;
}

.auction-page .bid-list .title {
    font-weight: bold;
    font-size: 3rem;
    width: 100%;
}

/* ----------------------------filter-part-styles-------------------------------- */
/* ----------------------------add-edit-part------------------ */
.visitor-listing-page .filter-part {
    width: 600px;
    right: -600px;
    top: 0;
    z-index: 17;
    transition: 0.7s ease-in;
    scroll-behavior: smooth;
    height: 930px;
}

.visitor-listing-page .filter-part .filter-part-inner {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    padding: 20px;
}

.visitor-listing-page .filter-part .filter-by {
    justify-content: space-between;
    align-items: center;
}

.visitor-listing-page .filter-part .filter-by .close-filter {
    width: 50px;
    cursor: pointer;
}

.visitor-listing-page .filter-part .filter-by p {
    font-size: 2rem;
}

.visitor-listing-page .filter-part .filter {
    padding-bottom: 35px;
    padding-top: 45px;
    border-bottom: 3px solid #edd5bb;
}

.visitor-listing-page .filter-part .filter input,
.artist-items-page .add-edit-part input,
.artist-items-page .add-edit-part textarea {
    border: 1px solid #edd5bb;
    border-radius: 3px;
    padding: 10px;
    background-color: #a16a5e;
    color: #fcebd5;
}

.visitor-listing-page .filter-part .filter input::placeholder,
.artist-items-page .add-edit-part input::placeholder,
.artist-items-page .add-edit-part textarea::placeholder {
    color: #edd5bb;
}

.visitor-listing-page .filter-part .filter input:focus,
.artist-items-page .add-edit-part input:focus,
.artist-items-page .add-edit-part textarea:focus {
    outline: none;
    border: 2px solid #edd5bb;
}

.visitor-listing-page .filter-part .filter .filter-title,
.artist-items-page .add-edit-part .add-title,
.artist-items-page .add-edit-part textarea,
.artist-items-page .add-edit-part .type-price-inner .col-50 input,
.artist-items-page .add-edit-part .image-url {
    width: 100%;
}

.visitor-listing-page .filter-part .filter .filter-price-inner {
    justify-content: space-between;
    align-items: center;
}

.visitor-listing-page .filter-part .filter .filter-price-inner .col-50.row {
    justify-content: flex-end;
    align-items: center;
}

.visitor-listing-page .filter-part .filter .filter-price-inner .col-50 label {
    margin-right: 5px;
}

.visitor-listing-page .filter-part .filter .filter-price-inner .col-50 input {
    width: 130px;
}

.visitor-listing-page .filter-part .filter .inner-filter-artist,
.visitor-listing-page .filter-part .filter .inner-filter-artist input,
.visitor-listing-page .filter-part .filter .inner-filter-type,
.visitor-listing-page .filter-part .filter .inner-filter-type input {
    width: 170px;
}

.visitor-listing-page .filter-part .img-filter-done-wrapper {
    padding-bottom: 20px;
}

.visitor-listing-page .filter-part .filter-done {
    width: 50px;
    cursor: pointer;
    transition: 0.3s ease-in;
    margin-left: auto;
    margin-top: 150px;
    border-radius: 3px;
    box-shadow: 0 2px 7px #474242;
}

.visitor-listing-page .filter-part .filter-done:hover {
    filter: brightness(1.2);
}

.artist-items-page .add-edit-part {
    width: 600px;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 100px;
    z-index: 17;
    padding: 40px 20px;
}

.artist-items-page .add-edit-part input,
.artist-items-page .add-edit-part textarea {
    margin-bottom: 30px;
}

.artist-items-page .add-edit-part .title-check {
    align-items: flex-start;
    justify-content: space-between;
}

.artist-items-page .add-edit-part .title-check p:not(.isPublished) {
    font-size: 1.5rem;
}

.artist-items-page .add-edit-part .title-check .isPublishWrapper {
    align-items: center;
    cursor: pointer;
}

.artist-items-page .add-edit-part .title-check .isPublishWrapper p.isPublished {
    margin-right: 15px;
}

.artist-items-page .add-edit-part .title-check .isPublishWrapper .checked,
.artist-items-page .add-edit-part .title-check .isPublishWrapper .img-box {
    background-color: #bd9c95;
    width: 25px;
    border-radius: 3px;
}

.artist-items-page .add-edit-part .title-check .isPublishWrapper .img-box {
    height: 25px;
}

.artist-items-page .add-edit-part .type-price-inner .col-50:first-child {
    margin-right: 30px;
}

.visitor-listing-page .filter .inner-filter-artist,
.visitor-listing-page .filter .inner-filter-type {
    width: 250px !important;
}

.visitor-listing-page .filter input.filter-artist,
.visitor-listing-page .filter input.filter-type {
    width: 100% !important;
}

.visitor-listing-page .filter-part .chooseArtistArrowFilter,
.visitor-listing-page .filter-part .chooseTypeArrowFilter,
.artist-items-page .add-edit-part .chooseTypeArrow {
    width: 20px;
    cursor: pointer;
}

.artist-items-page .add-edit-part .chooseTypeArrow {
    top: 33px;
    right: 5px;
}

.visitor-listing-page .filter-part .chooseArtistArrowFilter,
.visitor-listing-page .filter-part .chooseTypeArrowFilter {
    top: 14px;
    right: 10px;
}

.artist-items-page .add-edit-part input.item-type,
.visitor-listing-page .filter input.filter-artist,
.visitor-listing-page .filter input.filter-type {
    cursor: pointer;
}

.artist-items-page .add-edit-part .choose-type,
.visitor-listing-page .filter-part .choose-artist-filter,
.visitor-listing-page .filter-part .choose-type-filter {
    padding: 5px;
    border-radius: 4px;
    max-height: 70px;
    left: 0;
    right: 0;
}

.artist-items-page .add-edit-part .choose-type {
    top: 61px;
}

.artist-items-page .add-edit-part .choose-type span,
.visitor-listing-page .filter-part .choose-artist-filter span,
.visitor-listing-page .filter-part .choose-type-filter span {
    cursor: pointer;
    display: block;
    padding: 0 5px;
}

.artist-items-page .add-edit-part .chooseTypeOpen,
.visitor-listing-page .filter-part .chooseTypeOpen {
    border: 1px solid #fcebd5;
    overflow-y: scroll;
    background-color: #a16a5e;
}

.artist-items-page .add-edit-part .add-edit .required {
    font-size: 0.8rem;
    color: #c90f0f;
    margin-top: -30px;
    margin-bottom: 15.6px;
}

.artist-items-page .add-edit-part p.text-center {
    margin: 10px 0;
}

.artist-items-page .add-edit-part .buttons-wrapper {
    justify-content: space-between;
}

/* ----------------------------artist-home-page-styles------------------------- */
.artist-home-page .artist-home-page-wrapper {
    display: flex;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    font-size: 2rem;
}

.artist-home-page .artist-home-inner {
    padding: 30px 20px;
}

.artist-home-page .artist-home-outer {
    width: 40%;
    margin-top: 40px;
}

.artist-home-page .artist-home-inner .items-info-wrapper {
    justify-content: space-between;
}

.artist-home-page .artist-home-inner .items-info-wrapper .col-47 {
    width: 47%;
    border-radius: 4px;
    padding: 15px;
}

.artist-home-page .artist-home-inner .items-info-wrapper .col-47 span,
.artist-home-page .current-bid-box .current-bid-amount {
    font-size: 2rem;
}

.artist-home-page .current-bid-box {
    margin-top: 20px;
    border-radius: 4px;
    padding: 15px;
    cursor: pointer;
}

.artist-home-page .current-bid-box span:first-of-type {
    display: block;
    margin-bottom: 16px;
}

.artist-home-page .current-bid-box span:last-of-type {
    font-size: 1.5rem;
}

.artist-home-page .chart-wrapper {
    padding: 50px 40px 30px 80px;
    width: 60%;
}

.artist-home-page .chart-wrapper p:first-of-type {
    margin-bottom: 1.5rem;
}

.artist-home-page .chart-wrapper .chart-btn-wrapper {
    justify-content: space-between;
    padding-bottom: 40px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.artist-home-page .chart-wrapper .chart-btn-wrapper button {
    padding: 10px 25px;
    border: none;
    color: #fcebd5;
    background-color: #a16a5e;
    box-shadow: 0 2px 7px #8a8484;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease-in;
}

.artist-home-page .chart-wrapper .chart-btn-wrapper button:hover,
.artist-home-page .chart-wrapper .chart-btn-wrapper button:focus,
.artist-home-page .chart-wrapper .chart-btn-wrapper button.active {
    background-color: #d54c2e;
}

/* -------------------------------artist-menu-page-styles--------------------------- */
/* -------------------------------visitor-menu-page-styles-------------------------- */

.artist-menu-page,
.visitor-menu-page {
    width: 600px;
    position: absolute;
    top: 0px;
    right: 0;
    z-index: 16;
    padding: 20px;
    border-radius: 4px;
}

.artist-menu-page .closeMenu,
.visitor-menu-page .closeMenu {
    width: 20px;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.close-auction-msg {
    width: 20px;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.artist-menu-page ul,
.visitor-menu-page ul {
    margin-bottom: 20px;
    padding-left: 0;
    list-style-type: none;
    line-height: 1.5;
    font-size: 1.5rem;
    cursor: pointer;
    padding-top: 40px;
}

.artist-menu-page ul li,
.visitor-menu-page ul li {
    transition: 0.3s ease-in;
}

.artist-menu-page ul li:hover,
.artist-menu-page ul li.active,
.choose-type span:hover,
.choose-artist-filter span:hover,
.choose-type-filter span:hover,
.visitor-menu-page ul li:hover,
.visitor-menu-page span:hover {
    background-color: #fcebd5;
    color: #a16a5e;
    border-radius: 4px;
}

/*===============================================================================================================*/

@media (max-width: 1440px) {
    .navbar-visitor-artist .navbar-icon img {
        width: 45px;
    }

    .landing-page .polygon p {
        font-size: 6rem;
    }

    .landing-page .chooseArtistLanding {
        top: 520px;
        right: 17.5%;
    }

    .landing-page .chooseArtistLanding .choose-button {
        font-size: 1.5rem;
    }

    .landing-page .chooseArtistWrapper {
        width: 300px;
    }

    .landing-page .chooseArtistWrapper .chooseArtist {
        font-size: 1.3rem;
    }

    /* ----------------------------visitor-home-styles------------------------- */
    .visitor-home-page .content-wrapper p {
        font-size: 3.4rem;
    }

    .visitor-home-page .content-wrapper button {
        font-size: 1.6rem;
    }

    /* ----------------------------visitor-listing-styles------------------------- */
    .visitor-listing-page .filter-icon,
    .visitor-listing-page .show-all {
        width: 110px;
    }

    .visitor-listing-page .visitor-listing-page-inner .text-box .row span {
        font-size: 2.6rem;
    }

    .visitor-listing-page .visitor-listing-page-inner .text-box .row button {
        font-size: 1.1rem;
    }

    .visitor-listing-page .show-all {
        bottom: 10px;
        padding: 10px 0;
    }
    /* ----------------------------artist-home-page-styles------------------------- */
    .artist-home-page {
        font-size: 1.3rem;
    }

    .artist-home-page .chart-wrapper .chart-btn-wrapper button {
        padding: 7px 20px;
    }

    /* ------------------------artist-items-listing-styles---------------- */
    .artist-items-page .btn-scroll {
        right: 30px;
    }

    .artist-items-page .price {
        font-size: 1.2rem !important;
    }

    .artist-items-page .artist-items-listing .col-47 .buttons-wrapper button {
        padding: 5px 15px;
    }

    /* ----------------------------add/edit part styles------------------------- */
    .artist-items-page .add-edit-part {
        top: 40px;
    }

    /* -------------------------auction-page-styles------------ */
    .auction-page .timer {
        padding-bottom: 15px;
    }

    .auction-page .timer p {
        padding: 15px 8px;
        font-size: 1.3rem;
    }

    .auction-page .timer span {
        font-size: 0.6rem;
    }

    .auction-page .auction-items-listing .title {
        font-size: 2.5rem;
    }

    .auction-page .auction-items-listing p.artist {
        font-size: 1.4rem;
    }

    .auction-page .auction-items-listing .row.artist-created p:last-child {
        font-size: 1rem;
    }

    .auction-page .auction-items-listing .price {
        font-size: 1.8rem;
    }

    .auction-page .auction-items-listing .starting-price {
        font-size: 2.3rem;
    }

    .auction-page .auction-items-listing input {
        padding: 7px;
    }

    .auction-page .auction-items-listing .bid {
        font-size: 2.4rem;
    }
}

/*===============================================================================================================*/
@media (max-width: 1024px) {
    .navbar-visitor-artist .navbar-wrapper {
        width: 75%;
    }

    /* ----------------------------landing-page-styles------------------------- */
    .landing-page {
        width: 60%;
    }

    .landing-page .polygon {
        height: 450px;
    }

    .landing-page .polygon-reverse {
        margin-top: -194px;
    }

    .landing-page .polygon p {
        font-size: 5.5rem;
    }

    .landing-page .polygon-reverse p {
        padding-top: 210px;
    }

    .landing-page .chooseArtistLanding {
        top: 480px;
        right: 18.5%;
    }

    .landing-page .chooseArtistLanding .choose-button {
        width: 160px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .landing-page .chooseArtistLanding .choose-button img {
        width: 20px;
    }

    .landing-page .chooseArtistWrapper {
        height: 180px;
        width: 230px;
    }

    .landing-page .chooseArtistLanding .choose-button,
    .landing-page .chooseArtistWrapper .chooseArtist {
        font-size: 1.1rem;
    }

    /* ----------------------------visitor-home-styles------------------------- */
    .visitor-home-page .content-wrapper p {
        width: 65%;
        font-size: 3rem;
    }

    .visitor-home-page .content-wrapper button {
        font-size: 1.3rem;
    }

    .visitor-home-page .slider-div {
        padding-top: 35px;
        padding-bottom: 35px;
    }

    .visitor-home-page .slide-area {
        height: 290px;
    }

    .visitor-home-page .slide {
        padding: 17px;
    }

    .visitor-home-page .slide .img-slide {
        width: 300px;
        height: 240px;
    }

    .visitor-home-page .carousel .content-box {
        font-size: 1.2rem;
    }

    .visitor-home-page .carousel .left-part,
    .visitor-home-page .carousel .right-part {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .visitor-home-page .carousel .left-part {
        padding-right: 60px;
    }

    .visitor-home-page .carousel .right-part {
        padding-left: 60px;
    }

    .visitor-home-page .carousel .carousel-buttons img {
        width: 45px;
    }

    /* ----------------------------visitor-listing-styles------------------------- */
    .visitor-listing-page .visitor-listing-page-inner,
    .artist-items-page .artist-items-listing,
    .auction-page .auction-items-listing {
        width: 95%;
    }

    .visitor-listing-page .filter-icon,
    .visitor-listing-page .show-all {
        width: 100px;
        right: 30px;
    }

    .visitor-listing-page .filter-icon {
        bottom: 30px;
    }

    .visitor-listing-page .show-all {
        bottom: 150px;
    }

    .visitor-listing-page .visitor-listing-page-inner .text-box .row span {
        font-size: 2.4rem;
    }

    /* ----------------------------artist-home-page-styles------------------------- */
    .artist-home-page .artist-home-page-wrapper {
        width: 90%;
        display: block;
        padding-top: 40px;
    }

    .artist-home-page .artist-home-outer {
        width: 100%;
        margin-top: 5px;
    }

    .artist-home-page .chart-wrapper {
        padding: 40px 30px;
        width: 100%;
    }

    /* ----------------------------add/edit part styles------------------------- */
    .artist-items-page .add-edit-part {
        top: 120px;
    }
}

/* ==============================================================================================================  */
@media (max-width: 870px) and (min-width: 769px) {
    .artist-items-page .artist-items-listing .col-47 .buttons-wrapper button {
        padding: 3px 7px;
        font-size: 0.8rem;
    }

    .artist-items-page .add-edit-part {
        width: 100%;
        top: 70px;
    }

    .artist-items-page .add-edit-part input,
    .artist-items-page .add-edit-part textarea {
        margin-bottom: 20px;
    }

    .artist-items-page .add-edit-part .add-edit .required {
        margin-top: -20px;
        margin-bottom: 10.6px;
    }

    .auction-page .auction-items-listing {
        flex-direction: column;
        width: 80%;
    }

    .auction-page .auction-items-listing .col-47 {
        margin-bottom: 25px;
    }

    .auction-page .timer {
        width: 23%;
    }
}

/* ============================================================================================================== */
@media (min-width: 769px) {
    .visitor-listing-page .text-box {
        height: 230px;
    }

    .artist-items-page .artist-items-listing .text-box {
        height: 190px;
    }
}

/* ============================================================================================================== */
@media (max-width: 768px) {
    .landing-page {
        width: 70%;
    }

    .landing-page {
        padding-bottom: 150px;
    }

    .landing-page .logo-img {
        margin-top: 65px;
        margin-bottom: 65px;
    }

    .landing-page .polygon {
        height: 400px;
    }

    .landing-page .polygon-reverse {
        margin-top: -172.5px;
    }

    .landing-page .polygon p {
        font-size: 5rem;
    }

    .landing-page .polygon-reverse p {
        padding-top: 200px;
    }

    .landing-page .chooseArtistLanding {
        top: 410px;
        right: 17.5%;
    }

    .landing-page .chooseArtistLanding .choose-button {
        width: 140px;
        padding: 7px 10px;
    }

    .landing-page .chooseArtistLanding .choose-button img {
        width: 18px;
    }

    .landing-page .chooseArtistWrapper {
        width: 200px;
    }

    .landing-page .chooseArtistLanding .choose-button,
    .landing-page .chooseArtistWrapper .chooseArtist {
        font-size: 1rem;
    }

    /* ----------------------------visitor-home-styles------------------------- */
    .visitor-home-page .img-wrapper .bricks-small {
        display: block;
    }

    .visitor-home-page .img-wrapper .bricks-big {
        display: none;
    }

    .visitor-home-page .content-wrapper button {
        font-size: 1.2rem;
    }

    .visitor-home-page .slider-div {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .visitor-home-page .slide-area {
        height: 180px;
    }

    .visitor-home-page .slide {
        padding: 13px;
    }

    .visitor-home-page .slide .img-slide {
        width: 220px;
        height: 150px;
    }

    .visitor-home-page .carousel .content-box {
        font-size: 1rem;
        width: 80%;
    }

    .visitor-home-page .carousel .left-part,
    .visitor-home-page .carousel .right-part {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .visitor-home-page .carousel .left-part {
        padding-right: 40px;
    }

    .visitor-home-page .carousel .left-part .content-box .img-circle {
        top: -30px;
        width: 65px;
        height: 65px;
        line-height: 61px;
        border-width: 2px;
    }

    .visitor-home-page .carousel .left-part .content-box p {
        padding-top: 30px;
    }

    .visitor-home-page .carousel .carousel-buttons img {
        width: 38px;
    }

    .visitor-home-page .carousel .right-part {
        padding-left: 40px;
    }

    /* ----------------------------visitor-listing-styles------------------------- */
    /* ----------------------------artist-items-styles------------------------- */
    /* ----------------------------auction-page-styles------------------------- */

    .visitor-listing-page {
        padding-top: 60px;
        padding-bottom: 15px;
    }

    .visitor-listing-page .visitor-listing-page-inner,
    .artist-items-page .artist-items-listing,
    .auction-page .auction-items-listing {
        flex-direction: column;
        width: 80%;
    }

    .visitor-listing-page .visitor-listing-page-inner .col-47,
    .auction-page .auction-items-listing .col-47 {
        margin-bottom: 45px;
    }

    .visitor-listing-page
        .visitor-listing-page-inner
        .text-box
        p:first-of-type {
        margin-bottom: 12px;
    }

    .artist-items-page .btn-scroll {
        right: 20px;
    }

    .auction-page .timer {
        width: 23%;
    }

    /* ----------------------------artist-home-page-styles------------------------- */
    .artist-home-page .artist-home-page-wrapper {
        width: 80%;
    }

    .artist-home-page .artist-home-outer {
        margin-top: 40px;
    }

    .artist-home-page .chart-wrapper {
        padding: 30px 10px;
    }

    .artist-home-page .artist-home-inner .items-info-wrapper .col-47 p {
        font-size: 1.4rem;
    }

    /* ----------------------------add/edit part styles------------------------- */
    .artist-items-page .add-edit-part {
        width: 100%;
        top: 70px;
    }

    .artist-items-page .add-edit-part input,
    .artist-items-page .add-edit-part textarea {
        margin-bottom: 20px;
    }

    .artist-items-page .add-edit-part .add-edit .required {
        margin-top: -20px;
        margin-bottom: 10.6px;
    }
}

/*===============================================================================================================*/

@media (max-width: 600px) {
    nav {
        font-size: 1.7rem;
        height: 55px;
    }

    .navbar-visitor-artist .navbar-wrapper {
        width: 70%;
    }

    .navbar-visitor-artist .navbar-brand .logo {
        width: 60px;
    }

    .navbar-visitor-artist .navbar-icon img {
        width: 35px;
    }

    /* ----------------------------landing-page-styles------------------------- */
    .landing-page {
        padding-bottom: 120px;
    }

    .landing-page .logo-img {
        margin-top: 55px;
        margin-bottom: 55px;
    }

    .landing-page .polygon {
        height: 300px;
    }

    .landing-page .polygon-reverse {
        margin-top: -129.5px;
    }

    .landing-page .polygon p {
        font-size: 4.3rem;
    }

    .landing-page .polygon p.c-text-primary-default {
        padding-top: 40px;
    }

    .landing-page .polygon-reverse p {
        padding-top: 160px;
    }

    .landing-page .chooseArtistLanding {
        top: 310px;
        right: 14%;
    }

    .landing-page .chooseArtistLanding .choose-button {
        font-size: 0.8rem;
        width: 120px;
    }

    .landing-page .chooseArtistLanding .choose-button img {
        width: 15px;
    }

    .landing-page .chooseArtistWrapper {
        height: 120px;
        width: 150px;
    }

    .landing-page .chooseArtistWrapper .chooseArtist {
        font-size: 0.7rem;
    }

    /* ----------------------------visitor-home-styles------------------------- */
    .visitor-home-page .img-wrapper {
        height: 150px;
    }

    .visitor-home-page .content-wrapper p {
        font-size: 2rem;
        width: 60%;
    }

    .visitor-home-page .content-wrapper button {
        font-size: 1rem;
        padding: 8px 15px;
    }

    .visitor-home-page .slider-div {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .visitor-home-page .slide {
        padding: 10px;
    }

    .visitor-home-page .slide .slide-img {
        width: 180px;
        height: 120px;
        box-shadow: 3px 3px 8px #8a8484;
    }

    .visitor-home-page .carousel {
        padding: 40px 0;
    }

    .visitor-home-page .carousel .left-part {
        border-width: 2px;
        padding-right: 30px;
    }

    .visitor-home-page .carousel .left-part .content-box .img-circle {
        top: -25px;
        width: 50px;
        height: 50px;
        line-height: 46px;
    }

    .visitor-home-page .carousel .content-box {
        font-size: 0.8rem;
    }

    .visitor-home-page .carousel .left-part .content-box p {
        padding-top: 20px;
    }

    .visitor-home-page .carousel .carousel-buttons img {
        width: 25px;
    }

    .visitor-home-page .carousel .right-part {
        padding-left: 30px;
    }

    /* ----------------------------visitor-listing-page-styles------------------------- */
    /* --------------------------------auction-page-styles----------------------------- */
    /* if not enough content in the page to be 100vh */
    .artist-items-page,
    .visitor-listing-page,
    .auction-page {
        min-height: calc(100vh - 58px);
    }

    .visitor-listing-page {
        padding-top: 50px;
        padding-bottom: 10px;
    }

    .visitor-listing-page .filter-icon,
    .visitor-listing-page .show-all {
        width: 90px;
    }

    .visitor-listing-page .visitor-listing-page-inner,
    .artist-items-page .artist-items-listing,
    .auction-page .auction-items-listing {
        width: 95%;
    }

    .visitor-listing-page .visitor-listing-page-inner .col-47,
    .artist-items-page .artist-items-listing .col-47,
    .auction-page .auction-items-listing .col-47 {
        margin-bottom: 40px;
    }

    .auction-page .timer {
        width: 30%;
    }

    /* ----------------------------filter-part-styles------------------------- */
    /* ----------------------------add/edit part styles------------------------- */
    .visitor-listing-page .filter-part,
    .artist-items-page .add-edit-part {
        width: 100%;
        top: 55px;
    }

    .artist-items-page .add-edit-part .snapshot {
        display: block;
        border: 3px dashed #fcebd5;
        padding: 80px;
        margin-bottom: 15px;
    }

    .artist-items-page .add-edit-part .optional {
        display: block;
        margin-top: -15px !important;
        margin-bottom: 5px;
    }

    .artist-items-page .add-edit-part .snapshot img {
        width: 35px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
    }

    .snapshot-wrapper {
        height: 100vh;
        background-color: #a16a5e;
        top: 0;
        right: 0;
        left: 0;
        z-index: 25;
    }

    .snapshot-wrapper .make-snapshot-inner {
        height: 100%;
    }

    .snapshot-wrapper .take-photo {
        width: 35px;
        left: 50%;
        transform: translateX(-50%);
        bottom: 20vh;
    }

    .snapshot .new-img {
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100%;
        object-fit: cover;
    }

    .snapshot-wrapper select {
        right: 20px;
        bottom: 50px;
        background-color: #a16a5e;
        color: #edd5bb;
    }

    .snapshot-wrapper video {
        height: 70vh;
        width: 90vw;
        object-fit: cover;
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
        top: 30px;
    }

    /* ----------------------------artist-home-page-styles------------------------- */
    .artist-home-page .artist-home-page-wrapper,
    .artist-menu-page,
    .visitor-menu-page,
    .artist-items-page .add-items,
    .auction-page .auction-items,
    .visitor-listing-page .no-filtered-items {
        width: 100%;
        font-size: 1rem;
    }

    .artist-home-page .artist-home-outer {
        margin-top: 5px;
    }

    .artist-home-page .chart-wrapper {
        padding: 30px;
    }

    .artist-home-page .chart-wrapper p {
        text-align: left;
    }

    .artist-home-page .chart-wrapper .chart-btn-wrapper button {
        padding: 3px 17px;
    }

    /* -------------------------------artist-menu-page-------------------------------- */
    /* -------------------------------visitor-menu-page-------------------------------- */
    .artist-menu-page,
    .visitor-menu-page {
        top: 55px;
        box-shadow: 0 2px 10px #5e4343;
        border-radius: 0;
    }

    .artist-menu-page .closeMenu,
    .visitor-menu-page .closeMenu {
        display: none;
    }

    .artist-menu-page ul,
    .visitor-menu-page ul {
        margin-bottom: 0;
        padding-top: 0;
    }

    /* ------------------------artist-items-listing-styles---------------- */
    .artist-items-page .artist-items-listing {
        padding-top: 35px;
    }

    .artist-items-page .artist-items-listing .col-47 .buttons-wrapper button,
    .artist-items-page .remove-confirmation button,
    .artist-items-page .auction-msg button,
    .visitor-listing-page .back-items {
        padding: 5px 11.5px;
    }

    .artist-items-page .remove-confirmation,
    .artist-items-page .auction-msg {
        padding: 25px;
    }

    .artist-items-page .remove-confirmation p,
    .artist-items-page .auction-msg p {
        margin-bottom: 25px;
    }

    .artist-items-page .remove-confirmation button,
    .artist-items-page .auction-msg button {
        margin: 0 7px;
    }
}

/*===============================================================================================================*/

@media (max-width: 425px) {
    nav {
        font-size: 1.4rem;
    }

    .navbar-visitor-artist .navbar-brand .logo {
        width: 55px;
    }

    /* ----------------------------landing-page-styles------------------------- */
    .landing-page {
        padding-bottom: 80px;
    }

    .landing-page .logo-img {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .landing-page .polygon {
        height: 220px;
    }

    .landing-page .polygon-reverse {
        margin-top: -95px;
    }

    .landing-page .polygon p {
        font-size: 2.7rem;
    }

    .landing-page .polygon p.c-text-primary-default {
        padding-top: 40px;
    }

    .landing-page .polygon-reverse p {
        padding-top: 110px;
    }

    .landing-page .chooseArtistLanding {
        top: 220px;
        right: 15%;
    }

    .landing-page .chooseArtistLanding .choose-button {
        padding: 5px 8px;
    }

    .landing-page .chooseArtistWrapper {
        height: 110px;
        width: 130px;
    }

    .landing-page .chooseArtist {
        font-size: 0.7rem;
        padding: 1px 4px;
    }

    /* ----------------------------visitor-home-styles------------------------- */
    .visitor-home-page .content-wrapper p {
        font-size: 1.5rem;
        width: 55%;
    }

    .visitor-home-page .content-wrapper button {
        font-size: 0.8rem;
    }

    .visitor-home-page .carousel {
        padding: 30px 0;
    }

    .visitor-home-page .carousel .content-box {
        font-size: 0.7rem;
    }

    .visitor-home-page .carousel .left-part,
    .visitor-home-page .carousel .right-part {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .visitor-home-page .carousel .left-part {
        padding-right: 15px;
    }

    .visitor-home-page .carousel .left-part .content-box .img-circle {
        top: -20px;
        width: 40px;
        height: 40px;
        line-height: 36px;
    }

    .visitor-home-page .carousel .left-part .content-box p {
        padding-top: 15px;
    }

    .visitor-home-page .carousel .carousel-buttons img {
        width: 20px;
    }

    .visitor-home-page .carousel .right-part {
        padding-left: 15px;
    }

    /* ----------------------------visitor-listing-styles------------------------- */
    /* -----------------------..-----auction-page-styles------------------------- */
    .visitor-listing-page {
        padding-top: 40px;
        padding-bottom: 10px;
    }

    .visitor-listing-page .filter-icon,
    .visitor-listing-page .show-all {
        width: 70px;
        right: 20px;
    }

    .visitor-listing-page .show-all {
        bottom: 110px;
    }

    .visitor-listing-page .filter-icon {
        bottom: 20px;
    }

    .visitor-listing-page .visitor-listing-page-inner,
    .artist-items-page .artist-items-listing,
    .auction-page .auction-items-listing {
        width: 100%;
    }

    .visitor-listing-page .visitor-listing-page-inner .col-47 {
        margin-bottom: 30px;
    }

    .auction-page {
        padding-top: 25px;
    }

    .auction-page .auction-items-listing {
        padding: 0;
        margin-bottom: 30px;
    }

    .auction-page .auction-items-listing .col-47 {
        margin-bottom: 0;
    }

    .auction-page .timer {
        width: 35%;
        padding-bottom: 20px;
    }

    .auction-page .timer p {
        padding: 10px 7px;
        font-size: 1rem;
    }

    .auction-page .timer span {
        font-size: 0.5rem;
    }

    .auction-page .auction-items-listing .text-box {
        padding: 20px;
    }

    .auction-page .auction-items-listing .row.artist-created p:last-child {
        font-size: 0.8rem;
    }

    .auction-page .auction-items-listing .title {
        font-size: 2rem;
        margin-bottom: 7px;
    }

    .auction-page .auction-items-listing .row.artist-created {
        margin-bottom: 5px;
    }

    .auction-page .auction-items-listing p.artist {
        font-size: 1rem;
    }

    .auction-page .auction-items-listing .price {
        font-size: 1.3rem;
    }

    .auction-page .auction-items-listing .starting-price {
        padding: 7px 14px;
        font-size: 1.5rem;
    }

    .auction-page .auction-items-listing input {
        background-color: #fcebd5;
        padding: 6px;
        width: 40%;
        margin-top: 20px;
        font-size: 1rem;
    }

    .auction-page .auction-items-listing input:focus {
        border-width: 2px;
    }

    .auction-page .auction-items-listing .bid {
        font-size: 1.5rem;
        margin-top: 15px;
    }

    .auction-page .bid-list {
        padding-left: 20px;
        padding-right: 20px;
    }

    .auction-page .bid-list p {
        padding-top: 8px;
        padding-bottom: 8px;
    }

    .auction-page .bid-list .title {
        font-size: 2rem;
    }

    /* ----------------------------filter-part-styles------------------------- */
    .visitor-listing-page
        .filter-part
        .filter
        .filter-price-inner
        .col-50
        input {
        width: 90px;
    }

    .visitor-listing-page .filter-part .filter-by .close-filter {
        width: 30px;
    }

    /* ----------------------------artist-home-page-styles------------------------- */
    .artist-home-page {
        font-size: 0.8rem;
    }

    .artist-home-page .chart-wrapper {
        padding: 30px 20px;
    }

    .artist-home-page .chart-wrapper .chart-btn-wrapper {
        width: 90%;
    }

    .artist-home-page .artist-home-inner .items-info-wrapper .col-47 p {
        font-size: 1rem;
    }

    /* ------------------------artist-items-listing-styles---------------- */
    .artist-items-page .artist-items-listing .col-47 .buttons-wrapper button,
    .artist-items-page .remove-confirmation button,
    .artist-items-page .auction-msg button,
    .visitor-listing-page .back-items {
        padding: 3px 7px;
        font-size: 0.8rem;
    }

    .artist-items-page .remove-confirmation p,
    .artist-items-page .auction-msg p,
    .visitor-listing-page .no-filtered-items p {
        font-size: 0.9rem;
    }
}
