@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #fcebd5;
    font-family: 'Roboto', 'Times New Roman', Times, serif;
}

h1,
h2,
h3,
p,
ul {
    margin-top: 0;
}

img {
    display: block;
    width: 100%;
}

nav {
    padding: 20px;
    box-shadow: 0 2px 10px #af7777;
    font-family: 'Reenie Beanie';
    font-size: 2rem;
}

.row {
    display: flex;
}

.hide {
    display: none;
}

.p-relative {
    position: relative;
}

.p-absolute {
    position: absolute;
}

.text-center {
    text-align: center;
}

.mb-0 {
    margin-bottom: 0px;
}

.bg-light-pink {
    background-color: #fcebd5;
}

.bg-light-grey {
    background-color: #edd5bb;
}

.bg-dark-braun {
    background-color: #a16a5e;
}

.dark-braun {
    color: #a16a5e;
}

.light-grey {
    color: #edd5bb;
}

.nav-intro {
    justify-content: center;
}

.intro {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 250px;
}

.logo-img {
    width: 35%;
    margin: 100px auto;
}

.polygon {
    height: 700px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 300px);
}

.polygon-reverse {
    transform: rotate(180deg);
    margin-top: -400px;
    justify-content: center;
}

.polygon p {
    font-family: 'Reenie Beanie';
    font-size: 6rem;
}

.polygon p.dark-braun {
    padding-top: 10%;
}

.polygon-reverse p {
    transform: rotate(180deg);
    top: 22%;
}

.navbar-brand,
.navbar-auction {
    cursor: pointer;
}

.logo {
    left: 5%;
    top: 5px;
    width: 80px;
}

.nav-visitor span {
    padding-left: 8%;
}

.auction-icon {
    right: 5%;
    top: 10px;
    width: 55px;
}

.visitor-page .img-wrapper {
    height: 200px;
    padding-top: 15px;
    padding-bottom: 10px;
}

.visitor-page .img-wrapper img {
    height: 100%;
    opacity: 0.2;
}

.visitor-page .content-wrapper {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.visitor-page .content-wrapper p {
    font-size: 4rem;
}

.visitor-page .content-wrapper button {
    font-size: 2rem;
    border: none;
    color: #fcebd5;
    padding: 10px 30px;
    border-radius: 4px;
    box-shadow: 3px 4px 8px #8a8484;
}

/*photo slider*/
.slider-div {
    padding: 45px 0;
}

.slide-area {
    height: 320px;
    align-items: center;
    overflow: hidden;
}

.slide {
    padding: 25px;
    perspective: 140px;
}

.slide-left {
    animation: scroll 70s linear infinite;
}

.slide-right {
    animation: scroll 70s linear infinite;
    animation-direction: reverse;
}

.slide-track-one:hover,
.slide-track-two:hover {
    animation-play-state: paused;
}

.slide img {
    transition: transform 0.7s;
    box-shadow: 4px 5px 8px #8a8484;
    width: 450px;
    height: 270px;
}

.slide img:hover {
    transform: translateZ(15px);
    filter: brightness(1.1);
}

@keyframes scroll {
    /*to adapt for all browsers*/
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-100px * 60));
        /* how to change the number in js to be connected with arr.length */
    }
}

/*-----------------*/

@media (min-width: 1440px) {
    .nav-visitor span {
        padding-left: 6%;
    }
}

@media (max-width: 1200px) and (min-width: 1025px) {
    .visitor-page .content-wrapper p {
        font-size: 3.5rem;
    }

    .visitor-page .content-wrapper button {
        font-size: 1.7rem;
    }
}

@media (max-width: 1024px) and (min-width: 993px) {
    .visitor-page .content-wrapper p {
        font-size: 3rem;
    }

    .visitor-page .content-wrapper button {
        font-size: 1.3rem;
    }
}

@media (max-width: 992px) and (min-width: 768px) {
    .polygon {
        height: 550px;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 180px);
    }

    .polygon-reverse {
        margin-top: -371px;
    }

    .polygon p {
        font-size: 4rem;
    }

    .polygon-reverse p {
        top: 18%;
    }

    .visitor-page .content-wrapper p {
        font-size: 3rem;
        width: 65%;
    }

    .visitor-page .content-wrapper button {
        font-size: 1.3rem;
    }
}

@media (max-width: 900px) and (min-width: 768px) {
    .slider-div {
        padding-top: 35px;
        padding-bottom: 35px;
    }

    .slide-area {
        height: 290px;
    }

    .slide {
        padding: 17px;
    }

    .slide img {
        width: 300px;
        height: 240px;
    }
}

@media (max-width: 767px) and (min-width: 600px) {
    .intro {
        width: 60%;
        padding-bottom: 210px;
    }

    .polygon {
        height: 450px;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 120px);
    }

    .polygon-reverse {
        margin-top: -331px;
    }

    .polygon p {
        font-size: 3.5rem;
    }

    .polygon-reverse p {
        top: 16%;
    }

    .nav-visitor span {
        padding-left: 9%;
    }

    .visitor-page .content-wrapper p {
        font-size: 3rem;
        width: 65%;
    }

    .visitor-page .content-wrapper button {
        font-size: 1.2rem;
    }

    .slider-div {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .slide-area {
        height: 215px;
    }

    .slide {
        padding: 15px;
    }

    .slide img {
        width: 250px;
        height: 180px;
    }
}

@media (max-width: 599px) {
    nav {
        padding: 15px;
        font-size: 1.7rem;
    }

    .intro {
        width: 70%;
        padding-bottom: 180px;
    }

    .logo-img {
        margin-top: 65px;
        margin-bottom: 65px;
    }

    .polygon {
        height: 300px;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80px);
    }

    .polygon-reverse {
        margin-top: -222px;
    }

    .polygon p {
        font-size: 3rem;
    }

    .polygon-reverse p {
        top: 14%;
    }

    .logo {
        width: 60px;
    }

    .auction-icon {
        top: 15px;
        width: 40px;
    }

    .nav-visitor span {
        padding-left: 10%;
    }

    .visitor-page .img-wrapper {
        height: 150px;
    }

    .visitor-page .content-wrapper p {
        font-size: 2rem;
        width: 60%;
    }

    .visitor-page .content-wrapper button {
        font-size: 1rem;
        padding: 8px 15px;
    }

    .slider-div {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .slide-area {
        height: 140px;
    }

    .slide {
        padding: 10px;
    }

    .slide img {
        width: 150px;
        height: 120px;
        box-shadow: 3px 3px 8px #8a8484;
    }
}

@media (max-width: 425px) {
    nav {
        font-size: 1.4rem;
    }

    .intro {
        padding-bottom: 130px;
    }

    .logo-img {
        margin-top: 45px;
        margin-bottom: 45px;
    }

    .polygon p {
        font-size: 2.7rem;
    }

    .logo {
        left: 4%;
        width: 54px;
    }

    .auction-icon {
        top: 13px;
        width: 35px;
    }

    .nav-visitor span {
        padding-left: 10%;
    }

    .visitor-page .content-wrapper p {
        font-size: 1.5rem;
        width: 55%;
    }

    .visitor-page .content-wrapper button {
        font-size: 0.8rem;
    }
}
